name: Close Pull Request

on:
  pull_request_target:
    types: [opened]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: lightclient/close-pull-request@allowlist
      with:
        allowlist: COLLABORATORS
        comment: "We do not accept PRs. If you have any questions, please feel free to contact us."
