name: Close Pull Request

on:
  pull_request_target:
    types: [opened, reopened]

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
    - uses: actions/checkout@v4
    - name: Checkout collaborator list repository
      uses: actions/checkout@v4
      with:
        repository: lightclient/collab-list-test
        path: collab-list-test
    - uses: lightclient/close-pull-request@allowlist
      with:
        allowlist: collab-list-test/COLLABORATORS
        comment: "We do not accept PRs. If you have any questions, please feel free to [contact us](http://github.com/lightclient)."
